<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url(<%= image_path('old-map.jpg') %>);">

  <div class="banner-dialog">
    <h1 class="styled-font">Hero Maker</h1>
    <!-- <p>Once upon a time</p> -->
    <%= link_to "Once upon a time...", root_path, class:"dbtn-ghost" %>
  </div>
</div>
