<div class="tripack-container">
  <div class="tripack-contents">
    <div class="item" style="background-image: url(<%= image_path("tome-page.jpg")%>)">
      <div class="holder">Stories</div>
      <div class="hover">read these daring tales of dohdah</div>
    </div>
    <div class="item" style="background-image: url(<%= image_path("tome-page.jpg")%>)">
      <div class="holder">Characters</div>
      <div class="hover">Our community has generated a number of new characters of interest</div>
    </div>
    <div class="item" style="background-image: url(<%= image_path("tome-page.jpg")%>)">
      <div class="holder">News</div>
      <div class="hover">Here is a list of updates for you to be aware of</div>
    </div>
  </div>
</div>
