<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url(<%= image_path('Fantasy-banner.jpg') %>);">

  <div >
    <h1>Hero Maker</h1>
    <p>Click, Add, Play</p>
    <%= link_to "Start Now", root_path, class:"dbtn-ghost" %>
  </div>
</div>
