<div class="character-background">
  <div class="character-divider">
    <div class="character-details">

    </div>
    <div class="character-info">
      <%= cl_image_tag(@character.pdf, format: :png) %>

    </div>
  </div>
</div>
