a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.styled-font {
  font-family: 'Niconne', cursive;
  font-size: 3em;
  color: white;
}

.font-white {
  color:white;
}

.font-bigger {
  font-size: 1.5em;
}

.font-lilbigger {
  font-size: 1.2em;
}

.text-center {
  text-align: center
}

.fuck {
  max-width: 100vw;
}

body {
max-width: 100vw
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
