.banner {
  background-size: cover;
  background-position: center;
  padding: 25vh 0;
  max-width: 100vw;
  margin: 0;

  .banner-dialog {
    margin-left: 32px;
    h1 {
      font-size: 4em;
      font-weight: lighter;
    }
    a {
      display: inline;
      margin-left: 16px;
    }
  }

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
