.dbtn-ghost{
  color: white;
  padding: 8px 24px;
  border-radius: 12px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid grey;
  transition: .5s;
  text-align: center;
  &:hover  {
    background-color: grey;
    transition: .5s;
    color: white;
    cursor: pointer;
      }
}
