.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand img {
    width: 40px;
  }

  .navbar-container {
    align-items: center;

    .nav-icon {
    height: 40px;
    padding: 0;
    margin: 0 12px;
    }
  }
}
